<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>controlador.Usuarios.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarAdmin</servlet-name>
        <servlet-class>controlador.Usuarios.Admin.MostrarAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProfesor</servlet-name>
        <servlet-class>controlador.Usuarios.Profesor.MostrarProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>controlador.Usuarios.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCurso</servlet-name>
        <servlet-class>controlador.Curso.ControllerCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarCurso</servlet-name>
        <servlet-class>controlador.Curso.MostrarCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarEstudiante</servlet-name>
        <servlet-class>controlador.Usuarios.Estudiante.MostrarEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarEstudiante</servlet-name>
        <servlet-class>controlador.Usuarios.Estudiante.InsertarEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEstudiante</servlet-name>
        <servlet-class>controlador.Usuarios.Estudiante.EliminarEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarEstudiante</servlet-name>
        <servlet-class>controlador.Usuarios.Estudiante.ActualizarEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarVisitante</servlet-name>
        <servlet-class>controlador.Usuarios.Visitante.MostrarVisitante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarVisitante</servlet-name>
        <servlet-class>controlador.Usuarios.Visitante.InsertarVisitante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVisitante</servlet-name>
        <servlet-class>controlador.Usuarios.Visitante.EliminarVisitante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarEscuela</servlet-name>
        <servlet-class>controlador.Escuela.MostrarEscuela</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProyecto</servlet-name>
        <servlet-class>controlador.Proyecto.Tesis.BuscarProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuntuarProyecto</servlet-name>
        <servlet-class>controlador.Proyecto.Tesis.PuntuarProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProyectos</servlet-name>
        <servlet-class>controlador.Proyecto.Tesis.BuscarProyectos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAdmin</servlet-name>
        <servlet-class>controlador.Usuarios.Admin.ControllerAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerProfesor</servlet-name>
        <servlet-class>controlador.Usuarios.Profesor.ControllerProfesor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarAdmin</servlet-name>
        <url-pattern>/mostraradmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProfesor</servlet-name>
        <url-pattern>/mostrarprofesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCurso</servlet-name>
        <url-pattern>/controllercurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarCurso</servlet-name>
        <url-pattern>/mostrarcurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarEstudiante</servlet-name>
        <url-pattern>/mostrarestudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarEstudiante</servlet-name>
        <url-pattern>/insertarestudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEstudiante</servlet-name>
        <url-pattern>/eliminarestudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarEstudiante</servlet-name>
        <url-pattern>/actualizarestudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarVisitante</servlet-name>
        <url-pattern>/mostrarvisitante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarVisitante</servlet-name>
        <url-pattern>/insertarvisitante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVisitante</servlet-name>
        <url-pattern>/eliminarvisitante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarEscuela</servlet-name>
        <url-pattern>/mostrarescuela</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProyecto</servlet-name>
        <url-pattern>/BuscarProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuntuarProyecto</servlet-name>
        <url-pattern>/puntuarproyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProyectos</servlet-name>
        <url-pattern>/BuscarProyectos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerAdmin</servlet-name>
        <url-pattern>/controlleradmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerProfesor</servlet-name>
        <url-pattern>/controllerprofesor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
