/*                                                              Login*/
.body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*                                                            Colores*/
.purple{
  background-color: #563d7c;
}
.datagrid table 
{ 
    border-collapse: collapse; 
    text-align: left; 
    width: 100%; 
} 
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif; 
    background: #fff; 
    overflow: hidden; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}
.datagrid table td, .datagrid table th {
    padding: 10px 10px; 
}
.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #80141C) );
    background:-moz-linear-gradient( center top, #991821 5%, #80141C 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background-color:#991821; 
    color:#FFFFFF; 
    font-size: 15px; 
    font-weight: bold; 
    border-left: 1px solid #B01C26; 
} 
.datagrid table thead th:first-child { 
    border: none; 
}
.datagrid table tbody td { 
    color: #80141C; 
    border-left: 1px solid #F7CDCD;
    font-size: 12px;
    font-weight: normal; 
}
.datagrid table tbody .alt td { 
    background: #F7CDCD; color: #80141C; 
}
.datagrid table tbody td:first-child { 
    border-left: none; 
}
.datagrid table tbody tr:last-child td { 
    border-bottom: none; 
}
.datagrid table tfoot td div { 
    border-top: 1px solid #991821;
    background: #F7CDCD;
} 
.datagrid table tfoot td { 
    padding: 0; 
    font-size: 12px 
} 
.datagrid table tfoot td div{ 
    padding: 2px; 
}
.datagrid table tfoot td ul { 
    margin: 0; 
    padding:0; 
    list-style: none; 
    text-align: right; 
}
.datagrid table tfoot  li { 
    display: inline; 
}
.datagrid table tfoot li a { 
    text-decoration: none; 
    display: inline-block;  
    padding: 2px 8px; 
    margin: 1px;color: #FFFFFF;
    border: 1px solid #991821;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #80141C) );
    background:-moz-linear-gradient( center top, #991821 5%, #80141C 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background-color:#991821; 
}
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
    text-decoration: none;
    border-color: #80141C; 
    color: #FFFFFF; 
    background: none; 
    background-color:#991821;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { 
    position: fixed !important; 
    }
    
    .btn {
  background: #eb6fb1;
  background-image: -webkit-linear-gradient(top, #eb6fb1, #cc2626);
  background-image: -moz-linear-gradient(top, #eb6fb1, #cc2626);
  background-image: -ms-linear-gradient(top, #eb6fb1, #cc2626);
  background-image: -o-linear-gradient(top, #eb6fb1, #cc2626);
  background-image: linear-gradient(to bottom, #eb6fb1, #cc2626);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #eb6fb1;
  background-image: -webkit-linear-gradient(top, #eb6fb1, #cc2626);
  background-image: -moz-linear-gradient(top, #eb6fb1, #cc2626);
  background-image: -ms-linear-gradient(top, #eb6fb1, #cc2626);
  background-image: -o-linear-gradient(top, #eb6fb1, #cc2626);
  background-image: linear-gradient(to bottom, #eb6fb1, #cc2626);
  text-decoration: none;
}